@import url("./layout/_main.scss");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #00b894;
  --secondary-color: #ffffff;
  --background-color: #121212;
  --card-background-color: #1e1e1e;
  --text-color: #dfe6e9;
  --muted-text-color: #636e72;
  --border-color: #2d2d2d;
  --hover-color: #019a76;
  --link-color: #74b9ff;
  --footer-background: #181818;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

body.light-mode {
  --primary-color: #00b894;
  --secondary-color: #000000;
  --background-color: #ffffff;
  --card-background-color: #f9f9f9;
  --text-color: #2d3436;
  --muted-text-color: #636e72;
  --border-color: #e0e0e0;
  --hover-color: #019a76;
  --link-color: #0984e3;
  --footer-background: #f1f1f1;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
}

a {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.header .nav {
  margin-top: 2rem;
}
.header .nav .nav_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .nav_content .nav_right .nav__right__title {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .nav .nav_content .nav_right .nav__right__ul {
  display: flex;
  align-items: center;
}
.header .nav .nav_content .nav_right .nav__right__ul .header__button__light__mode {
  background-color: var(--secondary-color);
  padding: 2.2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}
.header .nav .nav_content .nav_right .nav__right__ul .header__button__light__mode #theme-toggler {
  fill: var(--secondary-color);
}
.header .nav .nav_content .nav_right .nav__right__link {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header .nav .nav_content .nav_right .nav__right__btn {
  text-decoration: none;
  display: flex;
  color: var(--secondary-color);
  align-items: center;
  gap: 0.8rem;
  background-color: var(--primary-color);
  padding: 18px 30px;
  border-radius: 2.8rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header .nav .nav_content .nav_left {
  display: flex;
  align-items: center;
}
.header .nav .nav_content .nav_left .nav_ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header .nav .nav_content .nav_left .nav_item {
  list-style: none;
  border-radius: 2rem;
}
.header .nav .nav_content .nav_left .nav_item:hover {
  background-color: #f5f5f5;
  color: var(--secondary-color);
}
.header .nav .nav_content .nav_left .nav_item .didden_nav {
  opacity: 1;
  visibility: hidden;
  position: absolute;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 2rem;
  background-color: antiquewhite;
  background-color: var(--secondary-color);
}
.header .nav .nav_content .nav_left .nav__link {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 10rem;
  line-height: 21.94px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header .nav .nav_content .nav_left .nav__link:hover {
  background-color: #f5f5f5;
  color: black;
}

.footer {
  border-top: solid 1.5px var(--link-color);
  padding-top: 4rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__first-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo-div__subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  color: var(--secondary-color);
}

.footer__first-list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 11rem;
  margin-top: 4rem;
}

.footer__second-list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 4.9rem;
  border-top: solid 1.5px var(--border-color);
  padding-top: 4rem;
}

.footer__first-list__item {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1.4rem;
}

.footer__item__bold {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--secondary-color);
}

.footer__item__regular {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--secondary-color);
}

.footer__second-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.5rem;
}
.footer__socials .footer__socials__img {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 2.8rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.arrow-up {
  padding: 2.8rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  background-color: var(--background-color);
}

.main .compact {
  background-image: url(../images/Rectangle\ 671.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 500px;
  border-radius: 20px;
}
.main .compact .compact__text {
  text-align: center;
}
.main .compact .compact__text .compact__text__h2 {
  color: #fff;
  padding-top: 6rem;
}
.main .compact .compact__text .compact__text__p {
  width: 416px;
  color: #fff;
  margin: 0 auto;
}
.main .compact .compact__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27rem;
}
.main .compact .compact__footer__img {
  margin-left: 4rem;
}
.main .compact .compact__footer__arrov {
  margin-right: 4rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.compact__input {
  padding: 2rem 31rem 2rem 3rem;
  border-radius: 28px;
  margin-left: 20rem;
  margin-top: -2.5rem;
  border: none;
}

.rent__car .rent__car__cards .rent__cards {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.rent__car .rent__car__cards .rent__cards .rent__card {
  background-color: var(--dark-card-background-color);
  border-radius: 28px;
}
.rent__car .rent__car__cards .rent__cards .rent__card .rent__car__h4 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.rent__car .rent__car__cards .rent__cards .rent__card .rent__card__p {
  color: var(--secondary-color);
  font-weight: 500;
  margin-left: 2rem;
}
.rent__car .rent__car__cards .rent__cards .rent__card .rent__card__footer__p {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5.4rem;
}
.rent__car .rent__car__cards .rent__cards .rent__card .rent__card__footer__p .rent__card__footer__pp {
  display: flex;
  gap: 1.2rem;
  color: var(--secondary-color);
}
.rent__car .rent__car__text .rent__car__text__h2 {
  color: var(--secondary-color);
  text-align: center;
}
.rent__car .rent__car__text .rent__car__text__p {
  color: var(--secondary-color);
  width: 575px;
  text-align: center;
  margin: 0 auto;
}
.rent__car .rent__car__text .rent__car__btn {
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
}
.rent__car .rent__car__text .rent__car__btn .rent__car__btn__link {
  color: var(--secondary-color);
  padding: 19px 40px;
  border: 2px solid var(--border-color);
  border-radius: 28px;
  text-decoration: none;
}
.rent__car .rent__car__text .rent__car__btn .greanbc__color {
  background-color: var(--primary-color);
}
.rent__car .rend__cards {
  justify-content: center;
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 2rem;
}
.rent__car .rend__cards .rent__card {
  background-color: var(--card-background-color);
  border-radius: 28px;
}
.rent__car .rend__cards .rent__car__h4 {
  color: var(--secondary-color);
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.rent__car .rend__cards .rent__card__p {
  color: var(--secondary-color);
  font-weight: 500;
  margin-left: 2rem;
}
.rent__car .rend__cards .rent__card__footer__p {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5.4rem;
}
.rent__car .rend__cards .rent__card__footer__pp {
  display: flex;
  gap: 1.2rem;
  color: var(--secondary-color);
}
.rent__car .rent__car__footer__btn {
  display: flex;
  justify-content: center;
  margin-top: 5.8rem;
  margin-bottom: 16rem;
}
.rent__car .rent__car__footer__btn .rent__car__footer__link {
  background-color: #00b894;
  color: var(--secondary-color);
  padding: 19px 40px;
  border: 2px solid var(--border-color);
  border-radius: 28px;
  text-decoration: none;
}

.community {
  background-color: var(--card-background-color);
}
.community .community__content {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
}
.community .community__content .community__left {
  background-color: var(--background-color);
  padding: 7rem;
  border-radius: 2.8rem;
  width: 470px;
  height: 479px;
}
.community .community__content .community__left .community__left__p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #FFFFFF;
  margin-bottom: 3rem;
}
.community .community__content .community__left .community__left__h2 {
  margin-top: 16px;
  width: 320px;
  color: var(--secondary-color);
}
.community .community__content .community__left .community__left__bb__pp {
  color: var(--secondary-color);
  margin-top: 3rem;
  margin-bottom: 3.8rem;
}
.community .community__content .community__left .community__btn__link {
  background-color: var(--secondary-color);
  padding: 1.8rem 5rem;
  border-radius: 2.8rem;
  text-decoration: none;
  border: 2px solid radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  background: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
  color: #1C1C1C;
}
.community .community__content .community__right {
  background-color: var(--primary-color);
  padding: 5rem 0 5rem 5rem;
  height: 500px;
  border-radius: 28px;
}
.community .community__content .community__right .community__rigt__img__chat {
  height: 450px;
}
.community .community__content .community__right .comunity__footer__img {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.community .community__content .community__right .community__footer__arrow {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.cars .cars__content {
  margin-top: 16rem;
}
.cars .cars__content .cars__content__imgs {
  margin-bottom: 16rem;
  display: flex;
  align-items: center;
  gap: 7rem;
}
.cars .cars__content .cars__content__h4 {
  margin-left: 8.5rem;
  margin-bottom: 3.4rem;
  display: flex;
  justify-content: start;
  color: var(--secondary-color);
}

.service .service__content .service__content__h2 {
  color: var(--secondary-color);
  text-align: center;
}
.service .service__content .service__content__p {
  width: 648px;
  color: var(--secondary-color);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.service .service__content .service__cards {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.service .service__content .service__cards .service__card {
  background-color: var(--card-background-color);
  padding: 3.2rem 4rem;
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}
.service .service__content .service__cards .service__card .service__card__text .service__card__h3 {
  color: var(--secondary-color);
  width: 278px;
}
.service .service__content .service__cards .service__card .service__card__text .service__card__p {
  color: var(--secondary-color);
  width: 354px;
}
.service .service__content .service__cards2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 16rem;
}
.service .service__content .service__cards2 .service__card {
  background-color: var(--card-background-color);
  padding: 3.2rem 4rem;
  border-radius: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}
.service .service__content .service__cards2 .service__card .service__card__text .service__card__h3 {
  color: var(--secondary-color);
  width: 278px;
}
.service .service__content .service__cards2 .service__card .service__card__text .service__card__p {
  color: var(--secondary-color);
  width: 354px;
}

.t_koruv .t_koruv__content {
  border: 2px solid var(--border-color);
  border-radius: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t_koruv .t_koruv__content .t_koruv__text .t_koruv__text__h2 {
  margin-left: 3.2rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}
.t_koruv .t_koruv__content .t_koruv__text .t_koruv__text__p {
  margin-left: 3.2rem;
  color: var(--secondary-color);
  width: 590px;
}
.t_koruv .t_koruv__content .t_koruv__text .t_koruv__cards {
  margin-left: 3.2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.t_koruv .t_koruv__content .t_koruv__text .t_koruv__cards .t_koruv__card {
  border-radius: 2.8rem;
  height: 160px;
  background-color: var(--card-background-color);
}
.t_koruv .t_koruv__content .t_koruv__text .t_koruv__cards .t_koruv__card .t_koruv__card__img {
  padding-top: 3rem;
  padding-left: 12rem;
  margin-bottom: 2rem;
  margin-left: 18px;
}
.t_koruv .t_koruv__content .t_koruv__text .t_koruv__cards .t_koruv__card .t_koruv__card__p {
  color: var(--secondary-color);
  width: 170px;
  margin-left: 18px;
  margin-bottom: 1.6rem;
}
.t_koruv .t_koruv__content .t_koruv__img {
  margin-right: 7rem;
}

.footer__container {
  display: flex;
}/*# sourceMappingURL=style.css.map */